

<div class="page-wrapper">

<table class="table table-hover">
    <thead class="thead-dark">
    <tr>
        <th scope="col">#</th>
        <th>Name</th>
        <th>Last Name</th>
        <th>Delete</th>
    </tr>
</thead>
<tbody>
        <tr *ngFor="let tempEmployee of employees">
            <th scope="row">{{tempEmployee.id }}</th>
            <td>{{  tempEmployee.firstName }}</td>
            <td>{{  tempEmployee.lastName }}</td>
            <td><button (click)="deleteEmployee(tempEmployee.id)" class="btn btn-warning">Delete</button></td>
        </tr>
</tbody>
</table>
</div>